@font-face {
  font-family: import;
  src: url(./assets/fonts/impact.ttf);
}
body {
  font-family: sans-serif;
  background: #161A1D;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-family: import;
  font-weight: bold;
  font-size: 100px;
  -webkit-text-stroke: 2px black;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
}
.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #282E33;
  width: 25vw;
  height: 25vw;
  border-radius: 15px;
}
.grid-item img {
  object-fit: cover;
  width: 25vw;
  height: 25vw;
  border-radius: 15px;
}
.grid-item h2 {
  font-family: import;
  -webkit-text-stroke: calc(1px + 0.015em) black;
  font-size: 50px;
  margin: 15px;
  position: absolute;
  max-width: 100%;
  text-align: center;
  word-wrap: break-word;
}
.top-text {
  top: 0;
}
.bot-text {
  bottom: 0;
}

.settings {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid-item:hover .settings{
  display: flex;
  gap: 25px;
}
.grid-item:hover .meme-img {
  opacity: 0.15;
}
.grid-item:hover h2 {
  opacity: 0.08;
}

button:hover, input[type="submit"]:hover {
  cursor: pointer;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 2px solid white;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 50px;
}

.edit img, .remove img {
  height: 25px;
  width: 25px;
  opacity: 1;
  pointer-events: none;
}
.form .submit-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.submit-container [type="submit"], .cancel {
  background: none;
  border-radius: 5px;
  width: 100px;
  height: 35px;
  font-size: 1em;
  text-align: center;
  color: white;
  border: solid white;
}
.form-container {
  position: absolute;
}
.form div {
  display: flex;
  flex-direction: column;
}
.form div input {
  height: 30px;
}
.form-container {
  width: 75%;
}
.submit-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}