@font-face {
  font-family: import;
  src: url(./assets/impact.ttf);
}
body {
  font-family: sans-serif;
  background: #161A1D;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-family: import;
  font-weight: bold;
  font-size: 100px;
  -webkit-text-stroke: 2px black;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
}
.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #282E33;
  width: 25vw;
  height: 25vw;
  border-radius: 15px;
}
.grid-item img {
  object-fit: cover;
  width: 25vw;
  height: 25vw;
  border-radius: 15px;
}
.settings {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid-item:hover .settings{
  display: block;
}
.grid-item:hover img {
  opacity: 0.25;
}
.form div {
  display: flex;
  flex-direction: column;
}
